@model IEnumerable<Attk_Final.Models.MedicinePrescriptionModel>

@{
    ViewData["Title"] = "MedicinePrescriptions";
}

<h1>MedicinePrescriptions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var test in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => test.AppointmentId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => test.PatientName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => test.Age)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => test.Medicine)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => test.DoctorName)
            </td>
            <td>
@*                     <button type="submit" class="btn btn-primary">Distrubute</button>
 *@
                    <a asp-action="AppointmentDetails" asp-route-id="@test.AppointmentId">Distrubute</a>
            </td>
        </tr>
}
    </tbody>
</table>
